# Dependencies
node_modules
.pnp
.pnp.js

# Raycast specific
.raycast
.raycast-swift
dist

# Development
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Editor
.idea
.vscode
*.swp 